<div fxLayout='row wrap' class='navbar'>
    <div fxFlex='8' class='mobile-menu'>
        <button mat-icon-button class='bg-transparent txt-white' (click)='setPanel()'>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex='40' fxFlex.gt-sm='80' class='vertical-align title'>
        <h3>Noticias</h3>
    </div>
    <div fxFlex='40' fxFlex.gt-sm='20' class='right-side'>
        <mat-icon>thumb_up</mat-icon>
        <span>Totales: {{likesTotales}}</span>
    </div>
</div>